@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
*{
  margin: 0 !important;
  padding: 0 !important;
}
.base{
  height: 100vh;
}
main{
  height: 700px;
}
.col1{
  height: 600px;
}
.col2{
  height: 520px;
}
.registerTitle{
  font-family: 'Ruda';
}
li{
  width: 350px;
  height: 50px;
}
li:nth-child(3){
  padding: 0 14px !important;
}
li:nth-child(4){
  padding: 0 14px !important;
}
span{
  margin-top: -7px !important;
}
i{
  color: #AAAAAA;
  font-size: 30px;
}
input{
  width: 270px;
  outline: none;
}

/* bg */
.lingkarAtasWrapper{
  width: 500px;
  height: 500px;
  background-image: url('assets/lingkaranAtas.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -100;
}
.lingkarBawahWrapper{
  width: 200px;
  height: 200px;
  background-image: url('assets/lingkaranBawah.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -100;
}

/* 1242 */
@media (max-width: 1242px){
  li{
    border-color: #AAAAAA;
    width: 300px;
    height: 50px;
  }
}

/* 576 */
@media (max-width: 576px){
  .col1{
    display: none;
    height: 600px;
  }
  .col2{
    width: 400px !important;
    height: 520px;
  }
}

/* 441 */
@media (max-width: 441px){
  .col2{
    width: 350px !important;
    height: 520px;
  }
  li{
    border-color: #AAAAAA;
    width: 280px;
    height: 50px;
  }
}

/* 365 */
@media (max-width: 365px){
  .col2{
    width: 310px !important;
    height: 460px;
  }
  li{
    border-color: #AAAAAA;
    width: 250px;
    height: 40px;
  }
  i{
    font-size: 20px;
  }
}

/* 320 */
@media (max-width: 320px){
  .col2{
    width: 270px !important;
    height: 430px;
  }
  li{
    border-color: #AAAAAA;
    width: 210px;
    height: 33px;
  }
  input{
    font-size: 13px !important;
  }
}